# Recommendations with IBM

In this notebook, you will be putting your recommendation skills to use on real data from the IBM Watson Studio platform. 


You may either submit your notebook through the workspace here, or you may work from your local machine and submit through the next page.  Either way assure that your code passes the project [RUBRIC](https://review.udacity.com/#!/rubrics/2322/view).  **Please save regularly.**

By following the table of contents, you will build out a number of different methods for making recommendations that can be used for different situations. 


## Table of Contents

I. [Exploratory Data Analysis](#Exploratory-Data-Analysis)<br>
II. [Rank Based Recommendations](#Rank)<br>
III. [User-User Based Collaborative Filtering](#User-User)<br>
IV. [Content Based Recommendations (EXTRA - NOT REQUIRED)](#Content-Recs)<br>
V. [Matrix Factorization](#Matrix-Fact)<br>
VI. [Extras & Concluding](#conclusions)

At the end of the notebook, you will find directions for how to submit your work.  Let's get started by importing the necessary libraries and reading in the data.

In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import project_tests as t
import pickle

%matplotlib inline

df = pd.read_csv('data/user-item-interactions.csv')
df_content = pd.read_csv('data/articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

# Show df to get an idea of the data
df.head()

,article_id,title,email
0,1430.0,"using pixiedust for fast, flexible, and easier...",ef5f11f77ba020cd36e1105a00ab868bbdbf7fe7
1,1314.0,healthcare python streaming application demo,083cbdfa93c8444beaa4c5f5e0f5f9198e4f9e0b
2,1429.0,use deep learning for image classification,b96a4f2e92d8572034b1e9b28f9ac673765cd074
3,1338.0,ml optimization using cognitive assistant,06485706b34a5c9bf2a0ecdac41daf7e7654ceb7
4,1276.0,deploy your python model as a restful api,f01220c46fc92c6e6b161b1849de11faacd7ccb2

In [2]:
df['article_id'].value_counts()

1429.0    937
1330.0    927
1431.0    671
1427.0    643
1364.0    627
1314.0    614
1293.0    572
1170.0    565
1162.0    512
1304.0    483
1436.0    481
1271.0    473
1398.0    465
43.0      460
1351.0    457
1393.0    455
1185.0    442
1160.0    433
1354.0    426
1368.0    418
1305.0    413
1338.0    382
1336.0    379
1165.0    372
1172.0    363
151.0     352
1276.0    347
1432.0    340
1430.0    336
1052.0    330
         ...
1208.0      2
778.0       2
1283.0      2
1135.0      2
1210.0      2
430.0       2
416.0       2
1251.0      2
1227.0      2
1230.0      2
1086.0      2
1156.0      2
1266.0      1
653.0       1
1233.0      1
1127.0      1
1092.0      1
1119.0      1
675.0       1
724.0       1
1237.0      1
1202.0      1
1344.0      1
662.0       1
1200.0      1
974.0       1
417.0       1
1113.0      1
984.0       1
1072.0      1
Name: article_id, Length: 714, dtype: int64

In [3]:
# Show df_content to get an idea of the data
df_content.head()

,doc_body,doc_description,doc_full_name,doc_status,article_id
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,Detect Malfunctioning IoT Sensors with Streami...,Live,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",Communicating data science: A guide to present...,Live,1
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,"This Week in Data Science (April 18, 2017)",Live,2
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,DataLayer Conference: Boost the performance of...,Live,3
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,Analyze NY Restaurant data using Spark in DSX,Live,4

In [4]:
len(df['email'])

45993

In [5]:
df_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 5 columns):
doc_body           1042 non-null object
doc_description    1053 non-null object
doc_full_name      1056 non-null object
doc_status         1056 non-null object
article_id         1056 non-null int64
dtypes: int64(1), object(4)
memory usage: 41.3+ KB

### <a class="anchor" id="Exploratory-Data-Analysis">Part I : Exploratory Data Analysis</a>

Use the dictionary and cells below to provide some insight into the descriptive statistics of the data.

`1.` What is the distribution of how many articles a user interacts with in the dataset?  Provide a visual and descriptive statistics to assist with giving a look at the number of times each user interacts with an article.

In [6]:
df['email'].value_counts().median()

3.0

In [7]:
# Fill in the median and maximum number of user_article interactios below

median_val = df['email'].value_counts().median()# 50% of individuals interact with 3 number of articles or fewer.
max_views_by_user =df['email'].value_counts().max() # The maximum number of user-article interactions by any 1 user is 364.

In [8]:
print(median_val, max_views_by_user)

3.0 364

`2.` Explore and remove duplicate articles from the **df_content** dataframe.

In [9]:
df_content[df_content['article_id'] == 398]

,doc_body,doc_description,doc_full_name,doc_status,article_id
399,Homepage Follow Sign in Get started * Home\r\n...,Today’s world of data science leverages data f...,Using Apache Spark as a parallel processing fr...,Live,398
761,Homepage Follow Sign in Get started Homepage *...,Today’s world of data science leverages data f...,Using Apache Spark as a parallel processing fr...,Live,398

In [10]:
# Find and explore duplicate articles
df_content[df_content.duplicated(subset=['article_id'], keep='first')]

,doc_body,doc_description,doc_full_name,doc_status,article_id
365,Follow Sign in / Sign up Home About Insight Da...,During the seven-week Insight Data Engineering...,Graph-based machine learning,Live,50
692,Homepage Follow Sign in / Sign up Homepage * H...,One of the earliest documented catalogs was co...,How smart catalogs can turn the big data flood...,Live,221
761,Homepage Follow Sign in Get started Homepage *...,Today’s world of data science leverages data f...,Using Apache Spark as a parallel processing fr...,Live,398
970,This video shows you how to construct queries ...,This video shows you how to construct queries ...,Use the Primary Index,Live,577
971,Homepage Follow Sign in Get started * Home\r\n...,"If you are like most data scientists, you are ...",Self-service data preparation with IBM Data Re...,Live,232

In [11]:
# Remove any rows that have the same article_id - only keep the first
df_content.drop([365, 692, 761, 970, 971], inplace=True)

`3.` Use the cells below to find:

**a.** The number of unique articles that have an interaction with a user.  
**b.** The number of unique articles in the dataset (whether they have any interactions or not).<br>
**c.** The number of unique users in the dataset. (excluding null values) <br>
**d.** The number of user-article interactions in the dataset.

In [12]:
df['email'].nunique()

5148

In [13]:
unique_articles = df['article_id'].nunique()
total_articles = df_content['article_id'].nunique()
unique_users = df['email'].nunique()
user_article_interactions = len(df['email'])

`4.` Use the cells below to find the most viewed **article_id**, as well as how often it was viewed.  After talking to the company leaders, the `email_mapper` function was deemed a reasonable way to map users to ids.  There were a small number of null values, and it was found that all of these null values likely belonged to a single user (which is how they are stored using the function below).

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45993 entries, 0 to 45992
Data columns (total 3 columns):
article_id    45993 non-null float64
title         45993 non-null object
email         45976 non-null object
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [15]:
df['article_id'] = df['article_id'].astype(str)
# Article id is converted to string. I will not be adding or multiplying article ids.

In [16]:
df['article_id'].value_counts()

1429.0    937
1330.0    927
1431.0    671
1427.0    643
1364.0    627
1314.0    614
1293.0    572
1170.0    565
1162.0    512
1304.0    483
1436.0    481
1271.0    473
1398.0    465
43.0      460
1351.0    457
1393.0    455
1185.0    442
1160.0    433
1354.0    426
1368.0    418
1305.0    413
1338.0    382
1336.0    379
1165.0    372
1172.0    363
151.0     352
1276.0    347
1432.0    340
1430.0    336
1052.0    330
         ...
1378.0      2
364.0       2
1083.0      2
1210.0      2
947.0       2
940.0       2
1340.0      2
1196.0      2
1086.0      2
1121.0      2
376.0       2
1130.0      2
417.0       1
675.0       1
662.0       1
1113.0      1
653.0       1
984.0       1
974.0       1
1092.0      1
1202.0      1
1237.0      1
1233.0      1
1072.0      1
1200.0      1
724.0       1
1127.0      1
1344.0      1
1119.0      1
1266.0      1
Name: article_id, Length: 714, dtype: int64

In [17]:
df['article_id'].value_counts().keys()[0]

'1429.0'

In [18]:
most_viewed_article_id = df['article_id'].value_counts().keys()[0]
max_views = df['article_id'].value_counts().max()

In [19]:
## No need to change the code here - this will be helpful for later parts of the notebook
# Run this cell to map the user email to a user_id column and remove the email column

def email_mapper():
    coded_dict = dict()
    cter = 1
    email_encoded = []
    
    for val in df['email']:
        if val not in coded_dict:
            coded_dict[val] = cter
            cter+=1
        
        email_encoded.append(coded_dict[val])
    return email_encoded

email_encoded = email_mapper()
del df['email']
df['user_id'] = email_encoded

# show header
df.head()

  article_id                                              title  user_id
0     1430.0  using pixiedust for fast, flexible, and easier...        1
1     1314.0       healthcare python streaming application demo        2
2     1429.0         use deep learning for image classification        3
3     1338.0          ml optimization using cognitive assistant        4
4     1276.0          deploy your python model as a restful api        5

In [20]:
most_viewed_article_id

'1429.0'

In [21]:
## If you stored all your results in the variable names above, 
## you shouldn't need to change anything in this cell

sol_1_dict = {
    '`50% of individuals have _____ or fewer interactions.`': median_val,
    '`The total number of user-article interactions in the dataset is ______.`': user_article_interactions,
    '`The maximum number of user-article interactions by any 1 user is ______.`': max_views_by_user,
    '`The most viewed article in the dataset was viewed _____ times.`': max_views,
    '`The article_id of the most viewed article is ______.`': most_viewed_article_id,
    '`The number of unique articles that have at least 1 rating ______.`': unique_articles,
    '`The number of unique users in the dataset is ______`': unique_users,
    '`The number of unique articles on the IBM platform`': total_articles
}

# Test your dictionary against the solution
t.sol_1_test(sol_1_dict)

It looks like you have everything right here! Nice job!

### <a class="anchor" id="Rank">Part II: Rank-Based Recommendations</a>

Unlike in the earlier lessons, we don't actually have ratings for whether a user liked an article or not.  We only know that a user has interacted with an article.  In these cases, the popularity of an article can really only be based on how often an article was interacted with.

`1.` Fill in the function below to return the **n** top articles ordered with most interactions as the top. Test your function using the tests below.

In [22]:
df['article_id'].value_counts()[:10].keys()[0]

'1429.0'

In [23]:
df[df['article_id'] == '1429.0'].iloc[0]['title']

'use deep learning for image classification'

In [24]:
df.head()

  article_id                                              title  user_id
0     1430.0  using pixiedust for fast, flexible, and easier...        1
1     1314.0       healthcare python streaming application demo        2
2     1429.0         use deep learning for image classification        3
3     1338.0          ml optimization using cognitive assistant        4
4     1276.0          deploy your python model as a restful api        5

In [25]:
def get_top_articles(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    # Your code here
    
    value_counts = df['article_id'].value_counts()[:n].keys()
    
    top_articles =[]
    
    for key in value_counts:
        x=df[df['article_id'] == key].iloc[0]['title']
        top_articles.append(x)
    
    return top_articles # Return the top article titles from df (not df_content)

def get_top_article_ids(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    # Your code here
    
    value_counts = df['article_id'].value_counts()[:n].keys()
    top_articles =[]
    
    for key in value_counts:
        top_articles.append(key)
 
    return top_articles # Return the top article ids

In [26]:
print(get_top_articles(10))
print(get_top_article_ids(10))

['use deep learning for image classification', 'insights from new york car accident reports', 'visualize car data with brunel', 'use xgboost, scikit-learn & ibm watson machine learning apis', 'predicting churn with the spss random tree algorithm', 'healthcare python streaming application demo', 'finding optimal locations of new store using decision optimization', 'apache spark lab, part 1: basic concepts', 'analyze energy consumption in buildings', 'gosales transactions for logistic regression model']
['1429.0', '1330.0', '1431.0', '1427.0', '1364.0', '1314.0', '1293.0', '1170.0', '1162.0', '1304.0']

In [27]:
# Test your function by returning the top 5, 10, and 20 articles
top_5 = get_top_articles(5)
top_10 = get_top_articles(10)
top_20 = get_top_articles(20)

# Test each of your three lists from above
t.sol_2_test(get_top_articles)

Your top_5 looks like the solution list! Nice job.
Your top_10 looks like the solution list! Nice job.
Your top_20 looks like the solution list! Nice job.

### <a class="anchor" id="User-User">Part III: User-User Based Collaborative Filtering</a>


`1.` Use the function below to reformat the **df** dataframe to be shaped with users as the rows and articles as the columns.  

* Each **user** should only appear in each **row** once.


* Each **article** should only show up in one **column**.  


* **If a user has interacted with an article, then place a 1 where the user-row meets for that article-column**.  It does not matter how many times a user has interacted with the article, all entries where a user has interacted with an article should be a 1.  


* **If a user has not interacted with an item, then place a zero where the user-row meets for that article-column**. 

Use the tests to make sure the basic structure of your matrix matches what is expected by the solution.

In [28]:
user_item = df.groupby(['user_id', 'article_id']).max().unstack()

In [29]:
user_item = user_item.fillna(0)

In [30]:
user_item[user_item != 0] = 1

In [31]:
# create the user-article matrix with 1's and 0's

def create_user_item_matrix(df):
    '''
    INPUT:
    df - pandas dataframe with article_id, title, user_id columns
    
    OUTPUT:
    user_item - user item matrix 
    
    Description:
    Return a matrix with user ids as rows and article ids on the columns with 1 values where a user interacted with 
    an article and a 0 otherwise
    '''
    # Fill in the function here
    user_item = df.groupby(['user_id', 'article_id']).max().unstack()
    user_item = user_item.fillna(0)
    user_item[user_item != 0] = 1
    
    return user_item # return the user_item matrix 

user_item = create_user_item_matrix(df)

In [32]:
## Tests: You should just need to run this cell.  Don't change the code.
assert user_item.shape[0] == 5149, "Oops!  The number of users in the user-article matrix doesn't look right."
assert user_item.shape[1] == 714, "Oops!  The number of articles in the user-article matrix doesn't look right."
assert user_item.sum(axis=1)[1] == 36, "Oops!  The number of articles seen by user 1 doesn't look right."
print("You have passed our quick tests!  Please proceed!")

You have passed our quick tests!  Please proceed!

In [33]:
user_item

           title                                                               \
article_id   0.0 100.0 1000.0 1004.0 1006.0 1008.0 101.0 1014.0 1015.0 1016.0
user_id
1              0     0      0      0      0      0     0      0      0      0
2              0     0      0      0      0      0     0      0      0      0
3              0     0      0      0      0      0     0      0      0      0
4              0     0      0      0      0      0     0      0      0      0
5              0     0      0      0      0      0     0      0      0      0
6              0     0      0      0      0      0     0      0      0      0
7              0     0      0      0      0      0     0      0      0      0
8              0     0      0      0      0      0     0      0      0      0
9              0     0      0      0      0      0     0      0      0      0
10             0     0      0      0      0      0     0      0      0      0
11             0     0      0      0      0      0     0      0      0      0
12             0     0      0      0      0      0     0      0      0      0
13             0     0      0      0      0      0     0      0      0      0
14             0     0      0      0      0      0     0      0      0      0
15             0     0      0      0      0      0     0      0      0      0
16             0     0      0      0      0      0     0      0      0      0
17             0     0      0      0      0      0     0      0      0      0
18             0     0      0      0      0      0     0      0      0      0
19             0     0      0      0      0      0     0      0      0      0
20             0     0      0      0      0      0     0      0      0      0
21             0     0      0      0      0      0     0      0      0      0
22             0     0      0      0      0      0     0      0      0      0
23             0     0      1      0      0      0     0      1      0      0
24             0     0      0      0      0      0     0      0      0      0
25             0     0      0      0      0      0     0      0      0      0
26             0     0      0      0      0      0     1      0      0      0
27             0     0      0      0      0      0     0      1      0      0
28             0     0      0      0      0      0     0      0      0      0
29             0     0      0      0      0      0     0      0      0      0
30             0     0      0      0      0      0     0      0      0      0
...          ...   ...    ...    ...    ...    ...   ...    ...    ...    ...
5120           0     0      0      0      0      0     0      0      0      0
5121           0     0      0      0      0      0     0      0      0      0
5122           0     0      0      0      0      0     0      0      0      0
5123           0     0      0      0      0      0     0      0      0      0
5124           0     0      0      0      0      0     0      0      0      0
5125           0     0      0      0      0      0     0      0      0      0
5126           0     0      0      0      0      0     0      0      0      0
5127           0     0      0      0      0      0     0      0      0      0
5128           0     0      0      0      0      0     0      0      0      0
5129           0     0      0      0      0      0     0      0      0      0
5130           0     0      0      0      0      0     0      0      0      0
5131           0     0      0      0      0      0     0      0      0      0
5132           0     0      0      0      0      0     0      0      0      0
5133           0     0      0      0      0      0     0      0      0      0
5134           0     0      0      0      0      0     0      0      0      0
5135           0     0      0      0      0      0     0      0      0      0
5136           0     0      0      0      0      0     0      0      0      0
5137           0     0      0      0      0      0     0      0      0      0
5138           0     0      0      0      0      0     0      1      0      0
5139           0     0      0      0      0      0     0      0      0      0
5140           0     0      0      0      0      0     1      1      0      1
5141           0     0      0      0      0      0     0      0      0      0
5142           0     0      0      0      0      0     0      0      0      0
5143           0     0      0      0      0      0     0      0      0      0
5144           0     0      0      0      0      0     0      0      0      0
5145           0     0      0      0      0      0     0      0      0      0
5146           0     0      0      0      0      0     0      0      0      0
5147           0     0      0      0      0      0     0      0      0      0
5148           0     0      0      0      0      0     0      0      0      0
5149           0     0      0      0      0      0     0      0      0      0

            ...
article_id  ...  977.0 98.0 981.0 984.0 985.0 986.0 990.0 993.0 996.0 997.0
user_id     ...
1           ...      0    0     1     0     0     0     0     0     0     0
2           ...      0    0     0     0     0     0     0     0     0     0
3           ...      1    0     0     0     0     0     0     0     0     0
4           ...      0    0     0     0     0     0     0     0     0     0
5           ...      0    0     0     0     0     0     0     0     0     0
6           ...      0    0     0     0     0     0     0     0     0     0
7           ...      0    0     0     0     0     0     0     0     0     0
8           ...      0    0     1     0     0     0     0     0     0     0
9           ...      0    0     0     0     0     0     0     0     0     0
10          ...      0    0     0     0     0     0     0     0     0     0
11          ...      1    0     0     0     0     0     0     1     0     0
12          ...      0    0     0     0     0     0     0     0     0     0
13          ...      0    0     0     0     0     0     0     0     0     0
14          ...      0    0     0     0     0     0     0     0     0     0
15          ...      0    0     0     0     0     0     0     0     0     0
16          ...      0    0     0     0     0     0     0     0     0     0
17          ...      0    0     1     0     0     0     0     0     0     0
18          ...      0    0     0     0     0     0     0     0     0     0
19          ...      0    0     0     0     0     0     0     0     0     0
20          ...      0    0     0     0     0     0     0     0     0     0
21          ...      0    0     0     0     0     0     0     0     0     0
22          ...      0    0     1     0     0     0     0     0     0     0
23          ...      0    0     1     0     0     0     0     0     1     0
24          ...      0    0     0     0     0     0     0     0     0     0
25          ...      0    0     0     0     0     0     0     0     0     0
26          ...      0    0     0     0     0     0     0     0     0     0
27          ...      0    0     0     0     0     0     0     0     0     0
28          ...      0    0     0     0     0     0     0     0     0     0
29          ...      0    0     0     0     0     0     0     0     0     0
30          ...      0    0     0     0     0     0     0     0     0     0
...         ...    ...  ...   ...   ...   ...   ...   ...   ...   ...   ...
5120        ...      0    0     0     0     0     0     0     0     0     0
5121        ...      0    0     0     0     0     0     0     0     0     0
5122        ...      0    0     0     0     0     0     0     0     0     0
5123        ...      0    0     0     0     0     0     0     0     0     0
5124        ...      0    0     0     0     0     0     0     0     0     0
5125        ...      0    0     0     0     0     0     0     0     0     0
5126        ...      0    0     0     0     0     0     0     0     0     0
5127        ...      1    0     0     0     0     0     0     0     0     0
5128        ...      0    0     0     0     0     0     0     0     0     0
5129        ...      0    0     1     0     0     0     0     0     0     0
5130        ...      0    0     0     0     0     0     0     0     0     0
5131        ...      0    0     0     0     0     0     0     0     0     0
5132        ...      0    0     0     0     0     0     0     0     0     0
5133        ...      0    0     0     0     0     0     0     0     0     0
5134        ...      0    0     0     0     0     0     0     0     0     0
5135        ...      0    0     0     0     0     0     0     0     0     0
5136        ...      0    0     0     0     0     0     0     0     0     0
5137        ...      0    0     0     0     0     0     0     0     0     0
5138        ...      0    0     1     0     0     0     1     0     0     0
5139        ...      0    0     0     0     0     0     0     0     0     0
5140        ...      0    1     1     0     0     0     0     0     0     0
5141        ...      0    0     0     0     0     0     0     0     0     0
5142        ...      0    0     0     0     0     0     0     0     0     0
5143        ...      0    0     0     0     0     0     0     0     0     0
5144        ...      0    0     0     0     0     0     0     0     0     0
5145        ...      0    0     0     0     0     0     0     0     0     0
5146        ...      0    0     0     0     0     0     0     0     0     0
5147        ...      0    0     0     0     0     0     0     0     0     0
5148        ...      0    0     0     0     0     0     0     0     0     0
5149        ...      0    0     0     0     0     0     0     0     0     0

[5149 rows x 714 columns]

`2.` Complete the function below which should take a user_id and provide an ordered list of the most similar users to that user (from most similar to least similar).  The returned result should not contain the provided user_id, as we know that each user is similar to him/herself. Because the results for each user here are binary, it (perhaps) makes sense to compute similarity as the dot product of two users. 

Use the tests to test your function.

In [34]:
x=user_item.dot(user_item.iloc[150])

In [35]:
x

user_id
1       2
2       1
3       1
4       3
5       0
6       1
7       0
8       2
9       1
10      3
11      2
12      0
13      1
14      1
15      1
16      0
17      1
18      0
19      0
20      0
21      4
22      0
23      4
24      1
25      0
26      0
27      1
28      2
29      0
30      0
       ..
5120    0
5121    0
5122    0
5123    0
5124    1
5125    0
5126    0
5127    0
5128    0
5129    1
5130    1
5131    0
5132    0
5133    0
5134    0
5135    0
5136    0
5137    0
5138    1
5139    2
5140    3
5141    0
5142    0
5143    2
5144    0
5145    0
5146    0
5147    0
5148    0
5149    0
Length: 5149, dtype: object

In [36]:
x=x.sort_values(ascending=False)

In [37]:
def find_similar_users(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user_id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    similar_users - (list) an ordered list where the closest users (largest dot product users)
                    are listed first
    
    Description:
    Computes the similarity of every pair of users based on the dot product
    Returns an ordered
    
    '''
    # compute similarity of each user to the provided user
    x=user_item.dot(user_item.iloc[user_id-1])
    # sort by similarity
    x=x.sort_values(ascending=False)
    # create list of just the ids
    just_ids = x.index
    # remove the own user's id
    most_similar_users = just_ids.drop(labels=[user_id])
    
    return most_similar_users # return a list of the users in order from most to least similar

In [38]:
# Do a spot check of your function
print("The 10 most similar users to user 1 are: {}".format(find_similar_users(1)[:10]))
print("The 5 most similar users to user 3933 are: {}".format(find_similar_users(3933)[:5]))
print("The 3 most similar users to user 46 are: {}".format(find_similar_users(46)[:3]))

The 10 most similar users to user 1 are: Int64Index([3933, 23, 3782, 203, 4459, 131, 3870, 46, 4201, 5041], dtype='int64', name='user_id')
The 5 most similar users to user 3933 are: Int64Index([1, 23, 3782, 4459, 203], dtype='int64', name='user_id')
The 3 most similar users to user 46 are: Int64Index([4201, 23, 3782], dtype='int64', name='user_id')

`3.` Now that you have a function that provides the most similar users to each user, you will want to use these users to find articles you can recommend.  Complete the functions below to return the articles you would recommend to each user.

In [39]:
df_content['article_id'] = df_content['article_id'].apply(str)
# For consistency sake, and to prevent future errors, I am converting the article_id column to string.

In [40]:
df_content['article_id'] = df_content['article_id'] + '.0'
# Adding .0 to the article_id in order to make it consistent.

In [41]:
def get_article_names(article_ids, df=df):
    '''
    INPUT:
    article_ids - (list) a list of article ids
    df - (pandas dataframe) df as defined at the top of the notebook
    
    OUTPUT:
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the title column)
    '''
    # Your code here
    article_names=[]
    
    for article in article_ids:
        title =df[df['article_id'] == article]['title'].iloc[0]
        article_names.append(title)
    
    return article_names # Return the article names associated with list of article ids


def get_user_articles(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    article_ids - (list) a list of the article ids seen by the user
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the doc_full_name column in df_content)
    
    Description:
    Provides a list of the article_ids and article titles that have been seen by a user
    '''
    # Your code here
    x=user_item.iloc[user_id-1]
    x=x[x.values == 1]
    article_ids = x['title'].index
    
    article_names=[]
    
    for kot in article_ids:
        art_id = df[df['article_id'] == kot].iloc[0][1]
        article_names.append(art_id)
    return article_ids, article_names # return the ids and names


def user_user_recs(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    Users who are the same closeness are chosen arbitrarily as the 'next' user
    
    For the user where the number of recommended articles starts below m 
    and ends exceeding m, the last items are chosen arbitrarily
    
    '''
    # Your code here
    x=find_similar_users(user_id, user_item=user_item)
    article_ids = []
    
    for element in x:
        article_ids.append(get_user_articles(element)[0][:11])
        leng = sum(map(len, article_ids))
        if leng > 10:
            break
    article_ids=list(set().union(*article_ids))
    article_ids =article_ids[:10]
    
    recs=article_ids
    return recs # return your recommendations for this user_id

In [42]:
# Check Results
get_article_names(user_user_recs(1, 10)) # Return 10 recommendations for user 1

['putting a human face on machine learning',
 'apache spark lab, part 1: basic concepts',
 'predict loan applicant behavior with tensorflow neural networking',
 'access db2 warehouse on cloud and db2 with python',
 'country statistics: life expectancy at birth',
 'categorize urban density',
 'classify tumors with machine learning',
 'sudoku',
 'gosales transactions for naive bayes model',
 'finding optimal locations of new store using decision optimization']

In [43]:
# Test your functions here - No need to change this code - just run this cell
assert set(get_article_names(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_article_names(['1320.0', '232.0', '844.0'])) == set(['housing (2015): united states demographic measures','self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_user_articles(20)[0]) == set(['1320.0', '232.0', '844.0'])
assert set(get_user_articles(20)[1]) == set(['housing (2015): united states demographic measures', 'self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook'])
assert set(get_user_articles(2)[0]) == set(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])
assert set(get_user_articles(2)[1]) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis'])
print("If this is all you see, you passed all of our tests!  Nice job!")

If this is all you see, you passed all of our tests!  Nice job!

`4.` Now we are going to improve the consistency of the **user_user_recs** function from above.  

* Instead of arbitrarily choosing when we obtain users who are all the same closeness to a given user - choose the users that have the most total article interactions before choosing those with fewer article interactions.


* Instead of arbitrarily choosing articles from the user where the number of recommended articles starts below m and ends exceeding m, choose articles with the articles with the most total interactions before choosing those with fewer total interactions. This ranking should be  what would be obtained from the **top_articles** function you wrote earlier.

In [44]:
user_id=300

In [45]:
similarity = []
for user in range(1, user_item.shape[0]+1):
    sim = np.dot(user_item.loc[user], user_item.loc[user_id])
    similarity.append((user, sim))

In [46]:
similarity.sort(key=lambda x:x[1], reverse=True)

In [47]:
similarity

[(283, 1),
 (300, 1),
 (391, 1),
 (2380, 1),
 (4104, 1),
 (5043, 1),
 (1, 0),
 (2, 0),
 (3, 0),
 (4, 0),
 (5, 0),
 (6, 0),
 (7, 0),
 (8, 0),
 (9, 0),
 (10, 0),
 (11, 0),
 (12, 0),
 (13, 0),
 (14, 0),
 (15, 0),
 (16, 0),
 (17, 0),
 (18, 0),
 (19, 0),
 (20, 0),
 (21, 0),
 (22, 0),
 (23, 0),
 (24, 0),
 (25, 0),
 (26, 0),
 (27, 0),
 (28, 0),
 (29, 0),
 (30, 0),
 (31, 0),
 (32, 0),
 (33, 0),
 (34, 0),
 (35, 0),
 (36, 0),
 (37, 0),
 (38, 0),
 (39, 0),
 (40, 0),
 (41, 0),
 (42, 0),
 (43, 0),
 (44, 0),
 (45, 0),
 (46, 0),
 (47, 0),
 (48, 0),
 (49, 0),
 (50, 0),
 (51, 0),
 (52, 0),
 (53, 0),
 (54, 0),
 (55, 0),
 (56, 0),
 (57, 0),
 (58, 0),
 (59, 0),
 (60, 0),
 (61, 0),
 (62, 0),
 (63, 0),
 (64, 0),
 (65, 0),
 (66, 0),
 (67, 0),
 (68, 0),
 (69, 0),
 (70, 0),
 (71, 0),
 (72, 0),
 (73, 0),
 (74, 0),
 (75, 0),
 (76, 0),
 (77, 0),
 (78, 0),
 (79, 0),
 (80, 0),
 (81, 0),
 (82, 0),
 (83, 0),
 (84, 0),
 (85, 0),
 (86, 0),
 (87, 0),
 (88, 0),
 (89, 0),
 (90, 0),
 (91, 0),
 (92, 0),
 (93, 0),
 (94, 0),
 (95, 0),
 (96, 0),
 (97, 0),
 (98, 0),
 (99, 0),
 (100, 0),
 (101, 0),
 (102, 0),
 (103, 0),
 (104, 0),
 (105, 0),
 (106, 0),
 (107, 0),
 (108, 0),
 (109, 0),
 (110, 0),
 (111, 0),
 (112, 0),
 (113, 0),
 (114, 0),
 (115, 0),
 (116, 0),
 (117, 0),
 (118, 0),
 (119, 0),
 (120, 0),
 (121, 0),
 (122, 0),
 (123, 0),
 (124, 0),
 (125, 0),
 (126, 0),
 (127, 0),
 (128, 0),
 (129, 0),
 (130, 0),
 (131, 0),
 (132, 0),
 (133, 0),
 (134, 0),
 (135, 0),
 (136, 0),
 (137, 0),
 (138, 0),
 (139, 0),
 (140, 0),
 (141, 0),
 (142, 0),
 (143, 0),
 (144, 0),
 (145, 0),
 (146, 0),
 (147, 0),
 (148, 0),
 (149, 0),
 (150, 0),
 (151, 0),
 (152, 0),
 (153, 0),
 (154, 0),
 (155, 0),
 (156, 0),
 (157, 0),
 (158, 0),
 (159, 0),
 (160, 0),
 (161, 0),
 (162, 0),
 (163, 0),
 (164, 0),
 (165, 0),
 (166, 0),
 (167, 0),
 (168, 0),
 (169, 0),
 (170, 0),
 (171, 0),
 (172, 0),
 (173, 0),
 (174, 0),
 (175, 0),
 (176, 0),
 (177, 0),
 (178, 0),
 (179, 0),
 (180, 0),
 (181, 0),
 (182, 0),
 (183, 0),
 (184, 0),
 (185, 0),
 (186, 0),
 (187, 0),
 (188, 0),
 (189, 0),
 (190, 0),
 (191, 0),
 (192, 0),
 (193, 0),
 (194, 0),
 (195, 0),
 (196, 0),
 (197, 0),
 (198, 0),
 (199, 0),
 (200, 0),
 (201, 0),
 (202, 0),
 (203, 0),
 (204, 0),
 (205, 0),
 (206, 0),
 (207, 0),
 (208, 0),
 (209, 0),
 (210, 0),
 (211, 0),
 (212, 0),
 (213, 0),
 (214, 0),
 (215, 0),
 (216, 0),
 (217, 0),
 (218, 0),
 (219, 0),
 (220, 0),
 (221, 0),
 (222, 0),
 (223, 0),
 (224, 0),
 (225, 0),
 (226, 0),
 (227, 0),
 (228, 0),
 (229, 0),
 (230, 0),
 (231, 0),
 (232, 0),
 (233, 0),
 (234, 0),
 (235, 0),
 (236, 0),
 (237, 0),
 (238, 0),
 (239, 0),
 (240, 0),
 (241, 0),
 (242, 0),
 (243, 0),
 (244, 0),
 (245, 0),
 (246, 0),
 (247, 0),
 (248, 0),
 (249, 0),
 (250, 0),
 (251, 0),
 (252, 0),
 (253, 0),
 (254, 0),
 (255, 0),
 (256, 0),
 (257, 0),
 (258, 0),
 (259, 0),
 (260, 0),
 (261, 0),
 (262, 0),
 (263, 0),
 (264, 0),
 (265, 0),
 (266, 0),
 (267, 0),
 (268, 0),
 (269, 0),
 (270, 0),
 (271, 0),
 (272, 0),
 (273, 0),
 (274, 0),
 (275, 0),
 (276, 0),
 (277, 0),
 (278, 0),
 (279, 0),
 (280, 0),
 (281, 0),
 (282, 0),
 (284, 0),
 (285, 0),
 (286, 0),
 (287, 0),
 (288, 0),
 (289, 0),
 (290, 0),
 (291, 0),
 (292, 0),
 (293, 0),
 (294, 0),
 (295, 0),
 (296, 0),
 (297, 0),
 (298, 0),
 (299, 0),
 (301, 0),
 (302, 0),
 (303, 0),
 (304, 0),
 (305, 0),
 (306, 0),
 (307, 0),
 (308, 0),
 (309, 0),
 (310, 0),
 (311, 0),
 (312, 0),
 (313, 0),
 (314, 0),
 (315, 0),
 (316, 0),
 (317, 0),
 (318, 0),
 (319, 0),
 (320, 0),
 (321, 0),
 (322, 0),
 (323, 0),
 (324, 0),
 (325, 0),
 (326, 0),
 (327, 0),
 (328, 0),
 (329, 0),
 (330, 0),
 (331, 0),
 (332, 0),
 (333, 0),
 (334, 0),
 (335, 0),
 (336, 0),
 (337, 0),
 (338, 0),
 (339, 0),
 (340, 0),
 (341, 0),
 (342, 0),
 (343, 0),
 (344, 0),
 (345, 0),
 (346, 0),
 (347, 0),
 (348, 0),
 (349, 0),
 (350, 0),
 (351, 0),
 (352, 0),
 (353, 0),
 (354, 0),
 (355, 0),
 (356, 0),
 (357, 0),
 (358, 0),
 (359, 0),
 (360, 0),
 (361, 0),
 (362, 0),
 (363, 0),
 (364, 0),
 (365, 0),
 (366, 0),
 (367, 0),
 (368, 0),
 (369, 0),
 (370, 0),
 (371, 0),
 (372, 0),
 (373, 0),
 (374, 0),
 (375, 0),
 (376, 0),
 (377, 0),
 (378, 0),
 (379, 0),
 (380, 0),
 (381, 0),
 (382, 0),
 (383, 0),
 (384, 0),
 (385, 0),
 (386, 0),
 (387, 0),
 (388, 0),
 (389, 0),
 (390, 0),
 (392, 0),
 (393, 0),
 (394, 0),
 (395, 0),
 (396, 0),
 (397, 0),
 (398, 0),
 (399, 0),
 (400, 0),
 (401, 0),
 (402, 0),
 (403, 0),
 (404, 0),
 (405, 0),
 (406, 0),
 (407, 0),
 (408, 0),
 (409, 0),
 (410, 0),
 (411, 0),
 (412, 0),
 (413, 0),
 (414, 0),
 (415, 0),
 (416, 0),
 (417, 0),
 (418, 0),
 (419, 0),
 (420, 0),
 (421, 0),
 (422, 0),
 (423, 0),
 (424, 0),
 (425, 0),
 (426, 0),
 (427, 0),
 (428, 0),
 (429, 0),
 (430, 0),
 (431, 0),
 (432, 0),
 (433, 0),
 (434, 0),
 (435, 0),
 (436, 0),
 (437, 0),
 (438, 0),
 (439, 0),
 (440, 0),
 (441, 0),
 (442, 0),
 (443, 0),
 (444, 0),
 (445, 0),
 (446, 0),
 (447, 0),
 (448, 0),
 (449, 0),
 (450, 0),
 (451, 0),
 (452, 0),
 (453, 0),
 (454, 0),
 (455, 0),
 (456, 0),
 (457, 0),
 (458, 0),
 (459, 0),
 (460, 0),
 (461, 0),
 (462, 0),
 (463, 0),
 (464, 0),
 (465, 0),
 (466, 0),
 (467, 0),
 (468, 0),
 (469, 0),
 (470, 0),
 (471, 0),
 (472, 0),
 (473, 0),
 (474, 0),
 (475, 0),
 (476, 0),
 (477, 0),
 (478, 0),
 (479, 0),
 (480, 0),
 (481, 0),
 (482, 0),
 (483, 0),
 (484, 0),
 (485, 0),
 (486, 0),
 (487, 0),
 (488, 0),
 (489, 0),
 (490, 0),
 (491, 0),
 (492, 0),
 (493, 0),
 (494, 0),
 (495, 0),
 (496, 0),
 (497, 0),
 (498, 0),
 (499, 0),
 (500, 0),
 (501, 0),
 (502, 0),
 (503, 0),
 (504, 0),
 (505, 0),
 (506, 0),
 (507, 0),
 (508, 0),
 (509, 0),
 (510, 0),
 (511, 0),
 (512, 0),
 (513, 0),
 (514, 0),
 (515, 0),
 (516, 0),
 (517, 0),
 (518, 0),
 (519, 0),
 (520, 0),
 (521, 0),
 (522, 0),
 (523, 0),
 (524, 0),
 (525, 0),
 (526, 0),
 (527, 0),
 (528, 0),
 (529, 0),
 (530, 0),
 (531, 0),
 (532, 0),
 (533, 0),
 (534, 0),
 (535, 0),
 (536, 0),
 (537, 0),
 (538, 0),
 (539, 0),
 (540, 0),
 (541, 0),
 (542, 0),
 (543, 0),
 (544, 0),
 (545, 0),
 (546, 0),
 (547, 0),
 (548, 0),
 (549, 0),
 (550, 0),
 (551, 0),
 (552, 0),
 (553, 0),
 (554, 0),
 (555, 0),
 (556, 0),
 (557, 0),
 (558, 0),
 (559, 0),
 (560, 0),
 (561, 0),
 (562, 0),
 (563, 0),
 (564, 0),
 (565, 0),
 (566, 0),
 (567, 0),
 (568, 0),
 (569, 0),
 (570, 0),
 (571, 0),
 (572, 0),
 (573, 0),
 (574, 0),
 (575, 0),
 (576, 0),
 (577, 0),
 (578, 0),
 (579, 0),
 (580, 0),
 (581, 0),
 (582, 0),
 (583, 0),
 (584, 0),
 (585, 0),
 (586, 0),
 (587, 0),
 (588, 0),
 (589, 0),
 (590, 0),
 (591, 0),
 (592, 0),
 (593, 0),
 (594, 0),
 (595, 0),
 (596, 0),
 (597, 0),
 (598, 0),
 (599, 0),
 (600, 0),
 (601, 0),
 (602, 0),
 (603, 0),
 (604, 0),
 (605, 0),
 (606, 0),
 (607, 0),
 (608, 0),
 (609, 0),
 (610, 0),
 (611, 0),
 (612, 0),
 (613, 0),
 (614, 0),
 (615, 0),
 (616, 0),
 (617, 0),
 (618, 0),
 (619, 0),
 (620, 0),
 (621, 0),
 (622, 0),
 (623, 0),
 (624, 0),
 (625, 0),
 (626, 0),
 (627, 0),
 (628, 0),
 (629, 0),
 (630, 0),
 (631, 0),
 (632, 0),
 (633, 0),
 (634, 0),
 (635, 0),
 (636, 0),
 (637, 0),
 (638, 0),
 (639, 0),
 (640, 0),
 (641, 0),
 (642, 0),
 (643, 0),
 (644, 0),
 (645, 0),
 (646, 0),
 (647, 0),
 (648, 0),
 (649, 0),
 (650, 0),
 (651, 0),
 (652, 0),
 (653, 0),
 (654, 0),
 (655, 0),
 (656, 0),
 (657, 0),
 (658, 0),
 (659, 0),
 (660, 0),
 (661, 0),
 (662, 0),
 (663, 0),
 (664, 0),
 (665, 0),
 (666, 0),
 (667, 0),
 (668, 0),
 (669, 0),
 (670, 0),
 (671, 0),
 (672, 0),
 (673, 0),
 (674, 0),
 (675, 0),
 (676, 0),
 (677, 0),
 (678, 0),
 (679, 0),
 (680, 0),
 (681, 0),
 (682, 0),
 (683, 0),
 (684, 0),
 (685, 0),
 (686, 0),
 (687, 0),
 (688, 0),
 (689, 0),
 (690, 0),
 (691, 0),
 (692, 0),
 (693, 0),
 (694, 0),
 (695, 0),
 (696, 0),
 (697, 0),
 (698, 0),
 (699, 0),
 (700, 0),
 (701, 0),
 (702, 0),
 (703, 0),
 (704, 0),
 (705, 0),
 (706, 0),
 (707, 0),
 (708, 0),
 (709, 0),
 (710, 0),
 (711, 0),
 (712, 0),
 (713, 0),
 (714, 0),
 (715, 0),
 (716, 0),
 (717, 0),
 (718, 0),
 (719, 0),
 (720, 0),
 (721, 0),
 (722, 0),
 (723, 0),
 (724, 0),
 (725, 0),
 (726, 0),
 (727, 0),
 (728, 0),
 (729, 0),
 (730, 0),
 (731, 0),
 (732, 0),
 (733, 0),
 (734, 0),
 (735, 0),
 (736, 0),
 (737, 0),
 (738, 0),
 (739, 0),
 (740, 0),
 (741, 0),
 (742, 0),
 (743, 0),
 (744, 0),
 (745, 0),
 (746, 0),
 (747, 0),
 (748, 0),
 (749, 0),
 (750, 0),
 (751, 0),
 (752, 0),
 (753, 0),
 (754, 0),
 (755, 0),
 (756, 0),
 (757, 0),
 (758, 0),
 (759, 0),
 (760, 0),
 (761, 0),
 (762, 0),
 (763, 0),
 (764, 0),
 (765, 0),
 (766, 0),
 (767, 0),
 (768, 0),
 (769, 0),
 (770, 0),
 (771, 0),
 (772, 0),
 (773, 0),
 (774, 0),
 (775, 0),
 (776, 0),
 (777, 0),
 (778, 0),
 (779, 0),
 (780, 0),
 (781, 0),
 (782, 0),
 (783, 0),
 (784, 0),
 (785, 0),
 (786, 0),
 (787, 0),
 (788, 0),
 (789, 0),
 (790, 0),
 (791, 0),
 (792, 0),
 (793, 0),
 (794, 0),
 (795, 0),
 (796, 0),
 (797, 0),
 (798, 0),
 (799, 0),
 (800, 0),
 (801, 0),
 (802, 0),
 (803, 0),
 (804, 0),
 (805, 0),
 (806, 0),
 (807, 0),
 (808, 0),
 (809, 0),
 (810, 0),
 (811, 0),
 (812, 0),
 (813, 0),
 (814, 0),
 (815, 0),
 (816, 0),
 (817, 0),
 (818, 0),
 (819, 0),
 (820, 0),
 (821, 0),
 (822, 0),
 (823, 0),
 (824, 0),
 (825, 0),
 (826, 0),
 (827, 0),
 (828, 0),
 (829, 0),
 (830, 0),
 (831, 0),
 (832, 0),
 (833, 0),
 (834, 0),
 (835, 0),
 (836, 0),
 (837, 0),
 (838, 0),
 (839, 0),
 (840, 0),
 (841, 0),
 (842, 0),
 (843, 0),
 (844, 0),
 (845, 0),
 (846, 0),
 (847, 0),
 (848, 0),
 (849, 0),
 (850, 0),
 (851, 0),
 (852, 0),
 (853, 0),
 (854, 0),
 (855, 0),
 (856, 0),
 (857, 0),
 (858, 0),
 (859, 0),
 (860, 0),
 (861, 0),
 (862, 0),
 (863, 0),
 (864, 0),
 (865, 0),
 (866, 0),
 (867, 0),
 (868, 0),
 (869, 0),
 (870, 0),
 (871, 0),
 (872, 0),
 (873, 0),
 (874, 0),
 (875, 0),
 (876, 0),
 (877, 0),
 (878, 0),
 (879, 0),
 (880, 0),
 (881, 0),
 (882, 0),
 (883, 0),
 (884, 0),
 (885, 0),
 (886, 0),
 (887, 0),
 (888, 0),
 (889, 0),
 (890, 0),
 (891, 0),
 (892, 0),
 (893, 0),
 (894, 0),
 (895, 0),
 (896, 0),
 (897, 0),
 (898, 0),
 (899, 0),
 (900, 0),
 (901, 0),
 (902, 0),
 (903, 0),
 (904, 0),
 (905, 0),
 (906, 0),
 (907, 0),
 (908, 0),
 (909, 0),
 (910, 0),
 (911, 0),
 (912, 0),
 (913, 0),
 (914, 0),
 (915, 0),
 (916, 0),
 (917, 0),
 (918, 0),
 (919, 0),
 (920, 0),
 (921, 0),
 (922, 0),
 (923, 0),
 (924, 0),
 (925, 0),
 (926, 0),
 (927, 0),
 (928, 0),
 (929, 0),
 (930, 0),
 (931, 0),
 (932, 0),
 (933, 0),
 (934, 0),
 (935, 0),
 (936, 0),
 (937, 0),
 (938, 0),
 (939, 0),
 (940, 0),
 (941, 0),
 (942, 0),
 (943, 0),
 (944, 0),
 (945, 0),
 (946, 0),
 (947, 0),
 (948, 0),
 (949, 0),
 (950, 0),
 (951, 0),
 (952, 0),
 (953, 0),
 (954, 0),
 (955, 0),
 (956, 0),
 (957, 0),
 (958, 0),
 (959, 0),
 (960, 0),
 (961, 0),
 (962, 0),
 (963, 0),
 (964, 0),
 (965, 0),
 (966, 0),
 (967, 0),
 (968, 0),
 (969, 0),
 (970, 0),
 (971, 0),
 (972, 0),
 (973, 0),
 (974, 0),
 (975, 0),
 (976, 0),
 (977, 0),
 (978, 0),
 (979, 0),
 (980, 0),
 (981, 0),
 (982, 0),
 (983, 0),
 (984, 0),
 (985, 0),
 (986, 0),
 (987, 0),
 (988, 0),
 (989, 0),
 (990, 0),
 (991, 0),
 (992, 0),
 (993, 0),
 (994, 0),
 (995, 0),
 (996, 0),
 (997, 0),
 ...]

In [50]:
dfs = pd.DataFrame(data=similarity, columns = ['neighbor_id', 'similarity'])

In [52]:
dfs['similarity'].value_counts()

0    5143
1       6
Name: similarity, dtype: int64

In [83]:
df_neighbors.rename(columns={'title': 'num_interactions'}, inplace=True)

In [84]:
df_neighbors

      neighbor_id  similarity  num_interactions
1             300           1                47
2             391           1                 6
3            2380           1                82
4            4104           1                45
5            5043           1                 5
6               1           0                19
7               2           0                 4
8               3           0                82
9               4           0                32
10              5           0                22
11              6           0                35
12              7           0                13
13              8           0                21
14              9           0                28
15             10           0                17
16             11           0                 3
17             12           0                35
18             13           0                 3
19             14           0                 8
20             15           0                 3
21             16           0               137
22             17           0                37
23             18           0               364
24             19           0                30
25             20           0                10
26             21           0                27
27             22           0                34
28             23           0                42
29             24           0                 1
30             25           0                 5
...           ...         ...               ...
5119         5120           0                 1
5120         5121           0                 1
5121         5122           0                 1
5122         5123           0                 1
5123         5124           0                13
5124         5125           0                22
5125         5126           0                 1
5126         5127           0                 2
5127         5128           0                29
5128         5129           0                 4
5129         5130           0                29
5130         5131           0                 1
5131         5132           0                 1
5132         5133           0                 2
5133         5134           0                 3
5134         5135           0                 9
5135         5136           0                 3
5136         5137           0                 2
5137         5138           0                 2
5138         5139           0                95
5139         5140           0                13
5140         5141           0               101
5141         5142           0                 1
5142         5143           0                 2
5143         5144           0                25
5144         5145           0                 1
5145         5146           0                 6
5146         5147           0                 9
5147         5148           0                 1
5148         5149           0                 1

[5148 rows x 3 columns]

In [63]:
df_article_views = df.groupby('user_id').count()

In [65]:
df_neighbors = pd.merge(dfs, df_article_views, left_index=True, right_index=True)

In [71]:
len(df[df['user_id']==15])

17

In [94]:
get_top_sorted_users(454)

KeyError: 454

In [93]:
def get_top_sorted_users(user_id, df=df, user_item=user_item):
    '''
    INPUT:
    user_id - (int)
    df - (pandas dataframe) df as defined at the top of the notebook 
    user_item - (pandas dataframe) matrix of users by articles: 
            1's when a user has interacted with an article, 0 otherwise
    
            
    OUTPUT:
    neighbors_df - (pandas dataframe) a dataframe with:
                    neighbor_id - is a neighbor user_id
                    similarity - measure of the similarity of each user to the provided user_id
                    num_interactions - the number of articles viewed by the user - if a u
                    
    Other Details - sort the neighbors_df by the similarity and then by number of interactions where 
                    highest of each is higher in the dataframe
     
    '''
    # Your code here
    
    similarity = []
    for user in range(1, user_item.shape[0]+1):
        sim = np.dot(user_item.loc[user], user_item.loc[user_id])
        similarity.append((user, sim))
        
    similarity.sort(key=lambda x:x[1], reverse=True) 
    
    dfs = pd.DataFrame(data=similarity, columns = ['neighbor_id', 'similarity'])
    df_article_views = df.groupby(user_id).count()
    neighbors_df = pd.merge(dfs, df_article_views, left_index=True, right_index=True)
    neighbors_df.rename(columns={'title': 'num_interactions'}, inplace=True)
    neighbors_df.drop(['article_id'], axis=1, inplace=True)
        
    return neighbors_df # Return the dataframe specified in the doc_string


def user_user_recs_part2(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user by article id
    rec_names - (list) a list of recommendations for the user by article title
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    * Choose the users that have the most total article interactions 
    before choosing those with fewer article interactions.

    * Choose articles with the articles with the most total interactions 
    before choosing those with fewer total interactions. 
   
    '''
    # Your code here
    
    return recs, rec_names

In [ ]:
# Quick spot check - don't change this code - just use it to test your functions
rec_ids, rec_names = user_user_recs_part2(20, 10)
print("The top 10 recommendations for user 20 are the following article ids:")
print(rec_ids)
print()
print("The top 10 recommendations for user 20 are the following article names:")
print(rec_names)

`5.` Use your functions from above to correctly fill in the solutions to the dictionary below.  Then test your dictionary against the solution.  Provide the code you need to answer each following the comments below.

In [ ]:
### Tests with a dictionary of results

user1_most_sim = # Find the user that is most similar to user 1 
user131_10th_sim = # Find the 10th most similar user to user 131

In [ ]:
## Dictionary Test Here
sol_5_dict = {
    'The user that is most similar to user 1.': user1_most_sim, 
    'The user that is the 10th most similar to user 131': user131_10th_sim,
}

t.sol_5_test(sol_5_dict)

`6.` If we were given a new user, which of the above functions would you be able to use to make recommendations?  Explain.  Can you think of a better way we might make recommendations?  Use the cell below to explain a better method for new users.

**Provide your response here.**

`7.` Using your existing functions, provide the top 10 recommended articles you would provide for the a new user below.  You can test your function against our thoughts to make sure we are all on the same page with how we might make a recommendation.

In [ ]:
new_user = '0.0'

# What would your recommendations be for this new user '0.0'?  As a new user, they have no observed articles.
# Provide a list of the top 10 article ids you would give to 
new_user_recs = # Your recommendations here

In [ ]:
assert set(new_user_recs) == set(['1314.0','1429.0','1293.0','1427.0','1162.0','1364.0','1304.0','1170.0','1431.0','1330.0']), "Oops!  It makes sense that in this case we would want to recommend the most popular articles, because we don't know anything about these users."

print("That's right!  Nice job!")

### <a class="anchor" id="Content-Recs">Part IV: Content Based Recommendations (EXTRA - NOT REQUIRED)</a>

Another method we might use to make recommendations is to perform a ranking of the highest ranked articles associated with some term.  You might consider content to be the **doc_body**, **doc_description**, or **doc_full_name**.  There isn't one way to create a content based recommendation, especially considering that each of these columns hold content related information.  

`1.` Use the function body below to create a content based recommender.  Since there isn't one right answer for this recommendation tactic, no test functions are provided.  Feel free to change the function inputs if you decide you want to try a method that requires more input values.  The input values are currently set with one idea in mind that you may use to make content based recommendations.  One additional idea is that you might want to choose the most popular recommendations that meet your 'content criteria', but again, there is a lot of flexibility in how you might make these recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [ ]:
def make_content_recs():
    '''
    INPUT:
    
    OUTPUT:
    
    '''

`2.` Now that you have put together your content-based recommendation system, use the cell below to write a summary explaining how your content based recommender works.  Do you see any possible improvements that could be made to your function?  Is there anything novel about your content based recommender?

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

**Write an explanation of your content based recommendation system here.**

`3.` Use your content-recommendation system to make recommendations for the below scenarios based on the comments.  Again no tests are provided here, because there isn't one right answer that could be used to find these content based recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [ ]:
# make recommendations for a brand new user


# make a recommendations for a user who only has interacted with article id '1427.0'

### <a class="anchor" id="Matrix-Fact">Part V: Matrix Factorization</a>

In this part of the notebook, you will build use matrix factorization to make article recommendations to the users on the IBM Watson Studio platform.

`1.` You should have already created a **user_item** matrix above in **question 1** of **Part III** above.  This first question here will just require that you run the cells to get things set up for the rest of **Part V** of the notebook.

In [ ]:
# Load the matrix here
user_item_matrix = pd.read_pickle('user_item_matrix.p')

In [ ]:
# quick look at the matrix
user_item_matrix.head()

`2.` In this situation, you can use Singular Value Decomposition from [numpy](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.linalg.svd.html) on the user-item matrix.  Use the cell to perform SVD, and explain why this is different than in the lesson.

In [ ]:
# Perform SVD on the User-Item Matrix Here

u, s, vt = # use the built in to get the three matrices

**Provide your response here.**

`3.` Now for the tricky part, how do we choose the number of latent features to use?  Running the below cell, you can see that as the number of latent features increases, we obtain a lower error rate on making predictions for the 1 and 0 values in the user-item matrix.  Run the cell below to get an idea of how the accuracy improves as we increase the number of latent features.

In [ ]:
num_latent_feats = np.arange(10,700+10,20)
sum_errs = []

for k in num_latent_feats:
    # restructure with k latent features
    s_new, u_new, vt_new = np.diag(s[:k]), u[:, :k], vt[:k, :]
    
    # take dot product
    user_item_est = np.around(np.dot(np.dot(u_new, s_new), vt_new))
    
    # compute error for each prediction to actual value
    diffs = np.subtract(user_item_matrix, user_item_est)
    
    # total errors and keep track of them
    err = np.sum(np.sum(np.abs(diffs)))
    sum_errs.append(err)
    
    
plt.plot(num_latent_feats, 1 - np.array(sum_errs)/df.shape[0]);
plt.xlabel('Number of Latent Features');
plt.ylabel('Accuracy');
plt.title('Accuracy vs. Number of Latent Features');

`4.` From the above, we can't really be sure how many features to use, because simply having a better way to predict the 1's and 0's of the matrix doesn't exactly give us an indication of if we are able to make good recommendations.  Instead, we might split our dataset into a training and test set of data, as shown in the cell below.  

Use the code from question 3 to understand the impact on accuracy of the training and test sets of data with different numbers of latent features. Using the split below: 

* How many users can we make predictions for in the test set?  
* How many users are we not able to make predictions for because of the cold start problem?
* How many articles can we make predictions for in the test set?  
* How many articles are we not able to make predictions for because of the cold start problem?

In [ ]:
df_train = df.head(40000)
df_test = df.tail(5993)

def create_test_and_train_user_item(df_train, df_test):
    '''
    INPUT:
    df_train - training dataframe
    df_test - test dataframe
    
    OUTPUT:
    user_item_train - a user-item matrix of the training dataframe 
                      (unique users for each row and unique articles for each column)
    user_item_test - a user-item matrix of the testing dataframe 
                    (unique users for each row and unique articles for each column)
    test_idx - all of the test user ids
    test_arts - all of the test article ids
    
    '''
    # Your code here
    
    return user_item_train, user_item_test, test_idx, test_arts

user_item_train, user_item_test, test_idx, test_arts = create_test_and_train_user_item(df_train, df_test)

In [ ]:
# Replace the values in the dictionary below
a = 662 
b = 574 
c = 20 
d = 0 


sol_4_dict = {
    'How many users can we make predictions for in the test set?': # letter here, 
    'How many users in the test set are we not able to make predictions for because of the cold start problem?': # letter here, 
    'How many articles can we make predictions for in the test set?': # letter here,
    'How many articles in the test set are we not able to make predictions for because of the cold start problem?': # letter here
}

t.sol_4_test(sol_4_dict)

`5.` Now use the **user_item_train** dataset from above to find U, S, and V transpose using SVD. Then find the subset of rows in the **user_item_test** dataset that you can predict using this matrix decomposition with different numbers of latent features to see how many features makes sense to keep based on the accuracy on the test data. This will require combining what was done in questions `2` - `4`.

Use the cells below to explore how well SVD works towards making predictions for recommendations on the test data.

In [ ]:
# fit SVD on the user_item_train matrix
u_train, s_train, vt_train = # fit svd similar to above then use the cells below

In [ ]:
# Use these cells to see how well you can use the training 
# decomposition to predict on test data

`6.` Use the cell below to comment on the results you found in the previous question. Given the circumstances of your results, discuss what you might do to determine if the recommendations you make with any of the above recommendation systems are an improvement to how users currently find articles?

**Your response here.**

<a id='conclusions'></a>
### Extras
Using your workbook, you could now save your recommendations for each user, develop a class to make new predictions and update your results, and make a flask app to deploy your results.  These tasks are beyond what is required for this project.  However, from what you learned in the lessons, you certainly capable of taking these tasks on to improve upon your work here!


## Conclusion

> Congratulations!  You have reached the end of the Recommendations with IBM project! 

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the [rubric](https://review.udacity.com/#!/rubrics/2322/view). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.


## Directions to Submit

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Recommendations_with_IBM.ipynb'])